@using (Html.BeginForm("AddPerson", "Person"))
{
    <div>
        User: <input name="Name" type="text" />
    </div>
    <div>
        Contact: <input name="Contact.PhoneNumber" type="text" />
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}